:root {
    --main-font-size: 16px;
    --small-font-size: 12px;

    --h1-font-size : calc( var(--main-font-size) * 1.6 );
    --h1-font-weight: 700;
    --h2-font-size : calc( var(--main-font-size) * 1.2 );
    --h2-font-weight: 700;

    --footer-font-size: calc( var(--main-font-size) * 0.5 );
    --sidebar-font-size: calc( var(--main-font-size) * 0.7 );
    --nav-sections-font-size: calc( var(--main-font-size) * 0.7 );
    --pager-font-size: calc( var(--main-font-size) * 0.7 );
}

* {
    font-family: "Montserrat", "Arial", "Sans-Serif";
}

div.nav-tagline {
    min-height: 160px;
    margin-left: 60px;
}

#page-nav li {
    text-transform: none;
    font-weight: normal;
}
#page-nav li a {
    text-decoration: none;
}

h1 {
    margin: 1ex 0;
    font-size: var(--h1-font-size );
    font-weight: var( --h1-font-weight );
}
h2 {
    margin: 1ex 0;
    margin: 1ex 0;
    font-size: var(--h2-font-size );
    font-weight: var( --h2-font-weight );
}

h1.title.main {
    text-align: center;
    text-align: center;
    margin: 3em 0;
}
h1.title.main a {
    text-decoration: none;
    color: inherit;
}

.front h3 {
    text-align: center;
}

h3 {
    margin-top: 1.2em;
}

article p,
article li {
    line-height: 1.6;
}

p.date {
    font-size: var( --small-font-size );
}

ul.range-ul-article {
    margin: 0;
    padding: 0;
}
ul.range-ul-article > li {
    margin: 0 0 5em 0;
    padding: 0;
    list-style: none;
}

div#groupsio_embed_signup {
    border: 1px solid #c0c0c0;
    border-radius: 8px;
    margin: 16px 0;
    padding: 25px 40px;
}
div#groupsio_embed_signup_scroll {
    display: flex;
}
div#groupsio_embed_signup_scroll > * {
    flex-grow: 0;
}
div#groupsio_embed_signup_scroll > input#email {
    flex-grow: 1;
}

div#groupsio_embed_signup input#email {
    margin: 0 1em 0 2em;
}

footer {
    margin-top: 50px;
    padding: 10px 0;
    font-size: var( --small-font-size );
}
footer .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
footer img {
    display: block;
    margin: 1ex;
}
footer p {
    margin: 1ex;
}
