<footer>
 <div class="container">
  <a rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
   <img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
  </a>
  <p>&copy; <a href="http://mydatasv.org/">MyData Silicon Valley</a></p>
  <p>Submit change requests to this website <a href="https://gitlab.com/mydatasv/mydatasv.gitlab.io">here</a>.</p>
 </div>
</footer>
