{{ define "main" }}

{{   if .Params.class }}
<main class="{{ .Params.class }}">
{{   else }}
<main>
{{   end }}

 <article>

  <div class="content">
{{ .Content }}
  </div>

 </article>
</main>
{{ end }}
